
.a {
    
    animation: breathing 0.25s linear infinite;
    background-image: url("/images/icons/icon-192x192.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
}

@-webkit-keyframes "pulse" {
0% {
 -webkit-transform: scale(1.1);
 transform: scale(1.1);
}
50% {
-webkit-transform: scale(0.8);
transform: scale(0.8);
}
100% {
 -webkit-transform: scale(1);
transform: scale(1);
}
}

@keyframes breathing {
    0% {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
    }
  
    50% {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
  }


.loading {
    color:#86f389;
    animation: breathing 0.25s linear infinite;
}