:root {
    --color-text: #e0e0ec;
    --color-bg: #358c0b;
    --color-bg-accent: #ecdcc0;
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 240s;
    --height: 1.5rem; 
  }
  
  .total_wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--color-bg);
    width: 100vw;
    justify-content: space-between;
    height: var(--height);
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    gap: var(--gap);
    margin: auto;
  }
  
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    position: relative;
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
    height: 100%;
  }
  
  .marquee__group {
    display: flex;
    white-space: nowrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-bg);
    margin: 0px;
    color: var(--color-text);
    gap: var(--gap);
    min-width: 50%;
    height: 100%;
  }
  
  button {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 0.11rem 0.4rem;
    border: none;
    cursor: pointer;
    align-self: center;
  }
  